// div {
//     text-align: center;
//     margin-top: 20px;
//   }
  
h2 {
    color: green;
    display: flex;
    justify-content: left;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 18px;
  
    th, td {
      border: 2px solid green;
      padding: 10px;
      text-align: center;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    input[type="checkbox"] {
      transform: scale(1.2);
    }
  }
  